## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tiksi,RU,71.69,128.87,-2.56,89,44,6.67,scattered clouds
1,1,Provideniya,RU,64.38,-173.30,23.00,62,40,3.58,heavy snow
2,2,Colares,PT,38.80,-9.45,63.00,88,9,3.00,clear sky
3,3,Mataura,NZ,-46.19,168.86,54.00,68,0,7.00,clear sky
4,4,Airai,TL,-8.93,125.41,74.66,61,91,2.75,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Airai,TL,-8.93,125.41,74.66,61,91,2.75,overcast clouds
10,10,Cape Town,ZA,-33.93,18.42,70.00,60,0,9.17,clear sky
11,11,Vaini,TO,-21.20,-175.20,73.40,94,75,8.05,light intensity shower rain
14,14,Avarua,CK,-21.21,-159.78,73.40,94,78,13.87,light rain
22,22,Vanimo,PG,-2.67,141.30,85.55,65,100,4.65,overcast clouds
23,23,Miri,MY,4.41,114.01,87.80,74,40,6.93,scattered clouds
24,24,Amboasary,MG,-25.03,46.38,77.00,69,40,20.80,scattered clouds
26,26,Banda Aceh,ID,5.56,95.32,83.98,73,100,9.62,light rain
28,28,Wanning,CN,18.80,110.40,80.26,69,3,15.17,clear sky
29,29,Nouadhibou,MR,20.93,-17.03,71.60,56,100,10.29,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Airai,TL,74.66,overcast clouds,-8.93,125.41,
10,Cape Town,ZA,70.00,clear sky,-33.93,18.42,
11,Vaini,TO,73.40,light intensity shower rain,-21.20,-175.20,
14,Avarua,CK,73.40,light rain,-21.21,-159.78,
22,Vanimo,PG,85.55,overcast clouds,-2.67,141.30,
23,Miri,MY,87.80,scattered clouds,4.41,114.01,
24,Amboasary,MG,77.00,scattered clouds,-25.03,46.38,
26,Banda Aceh,ID,83.98,light rain,5.56,95.32,
28,Wanning,CN,80.26,clear sky,18.80,110.40,
29,Nouadhibou,MR,71.60,overcast clouds,20.93,-17.03,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [12]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Airai,TL,74.66,overcast clouds,-8.93,125.41,Juvinal Martin
10,Cape Town,ZA,70.00,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
11,Vaini,TO,73.40,light intensity shower rain,-21.20,-175.20,Keleti Beach Resort
14,Avarua,CK,73.40,light rain,-21.21,-159.78,Paradise Inn
22,Vanimo,PG,85.55,overcast clouds,-2.67,141.30,Vahmoneh Lodge Vanimo

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
plt.savefig("WeatherPy_vacation_map.png")
fig

Figure(layout=FigureLayout(height='420px'))